* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* index 
*******************************************/
.main-index {
    height: 100vh;
    background-image: url(../../assets/img/adan.jpg);
    background-size: cover;
}

.index-left {
    display: flex;
    align-items: flex-end;
    width: 29%;
    height: 100%;
    padding-left: 5%;
    padding-bottom: 11%;
}

.text-box {
    padding: 24px;
    border-radius: 20px;
    background-color: white;
    color: #48450a;
    text-align: justify;
}

/* .index-right {

} */

.btn {
    border-radius: 20px;
    cursor: pointer;
    font-size: x-large;
   
}

.btn-play {
    padding: 14% 176%;
    font-weight: 600;
    border-color: #f00202;
    color: rgb(255, 255, 255);
    background-color: red
}

.btn-level {
    width: 184px;
    margin-top: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    
}

/* game 
*******************************************/
.main-game {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/jungle.jpg);
    background-size: cover;
}

.left {
    width: -webkit-fill-available;
    padding: 4%;
}

.rigth {
    flex-direction: column;
    width: -webkit-fill-available;
}

.score {
    padding: 20px;
    color: #ffffff;
    margin-bottom: 53px;
    background-color: #fa0000;
    font-size: 40px;
}

div {
    display: flex;
    align-items: center;
}

.border {
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.6);
}